<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="/fragments/head :: head"></head>
  <body class="hold-transition login-page">
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="login-box">
      <div class="login-logo"></div>
      <!-- /.login-logo -->
      <div class="container">
        <div class="card m-5">
          <div class="card-body login-card-body">
            <div
              class="alert alert-danger"
              role="alert"
              th:if="${tokenError != null}"
            >
              <p th:text="${tokenError}"></p>
            </div>
            <div
              class="alert alert-success"
              role="alert"
              th:if="${passwordUpdateMsg != null}"
            >
              <p th:text="${passwordUpdateMsg}"></p>
            </div>
            <p class="login-box-msg">Cambia tu Contraseña</p>
            <p th:if="${loginError}" class="error"></p>
            <form
              th:action="@{/password/change}"
              method="post"
              th:object="${forgotPassword}"
            >
              <div th:if="${param.error}">
                <div class="alert alert-danger">
                  <span th:text="#{login.error}" />
                </div>
              </div>
              <p class="tx-sz-10 text-muted m-0">Nueva contraseña</p>
              <div class="input-group mb-4">
                <input
                  type="password"
                  class="form-control"
                  th:field="*{password}"
                  placeholder="Nueva contraseña"
                  autocomplete="”off”"
                  minlength="8"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <p class="tx-sz-10 text-muted mb-0">Repita la contraseña</p>
              <div class="input-group mb-4">
                <input
                  type="password"
                  name="repeatPassword"
                  class="form-control"
                  placeholder="Confirme contraseña"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <input type="hidden" th:field="*{token}" />
              <div class="row">
                <!-- /.col -->
                <div
                  class="col-6 align-items-center justify-content-center d-flex"
                >
                  <button type="submit" class="btn btn-primary w-50">
                    Cambiar
                  </button>
                </div>
                <div class="col-6 justify-content-center d-flex">
                  <a
                    href="/iniciarSesion"
                    th:href="@{/iniciarSesion}"
                    class="text-center btn btn-light w-50"
                    >Iniciar sesión</a
                  >
                </div>
                <!-- /.col -->
              </div>
            </form>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
