/*Este serán los estilos para el registro*/

.register {
  padding: 80px 0;
}

.register-image{
  background-image: url(../img/star-sky.jpg);
}

.register .form-container {
  display: table;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  background-color: #1e2833;
}

.register form {
  display: table-cell;
  max-width: 400px;
  background-color: #1e2833;
  padding: 40px 60px;
  color: #505e6c;
}

.register .form-container form .form-control{
  background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

@media (max-width:991px) {
  .register form {
    padding: 40px;
  }
}

.register form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register form .btn-primary:hover, .register form .btn-primary:active {
  background: #eb3b60;
}

.register form .btn-primary:active {
  transform: translateY(1px);
}

.register form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

/*Aqui estan los estilos de los servicios
*/
.services .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .icon-box::before {
  content: '';
  position: absolute;
  background: black;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #e92828;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #e92828;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: #fff;
}

.services {
  padding-bottom: 30px;
}

.services .icon-box:hover .icon i {
  color: #fff;
}

/*Esta es la zona de los servicios
*/

.formSearch .form-control{
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  caret-color: blue;
}

.servi .alert{
  z-index: 999;
  position: relative;
}

.service-full-view ul li a {
  width: 35px;
  height: 35px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  color: #222222;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}

.service-full-view ul li {
  display: inline-block;
  margin-left: 5px;
}

.service-full-view ul {
  text-align: right;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.service-full-view ul li a:hover {
  color: white;
  background-color: black;
}

.service-full-view ul li a:focus {
  color: white;
  background-color: black;
}


/*carrito*/

.kart-image img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 90%;
  min-height: 300px;
  max-height: 425px;
}
.kart-description{
  height: 210px!important;
 }


@media (max-width: 576px) { 
  .kart-description{
    height: 170px!important;
  }
  
 }

 @media (min-width: 576px) and (max-width: 767px){
  .kart-image img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 90%;
    min-height: 200px;
    max-height: 325px;
  }
  .kart-description{
    height: 140px!important;
  }
 }
@media (min-width: 769px) and (max-width: 992px) { 
  .kart-description{
    height: 180px!important;
  }
  
 }

 .add-user .form-control{
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  caret-color: blue;
}
 /* producto del carrito
 */

 .kart-product-image img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 90%;
  min-height: 330px;
  max-height: 445px;
}

.product-carac .product-info {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.product-carac .product-info li {
  font-size: 16px;
  color: #222222;
  margin-bottom: 8px;
  font-style: italic;
}

.product-size .radio-caja {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(230, 228, 228);
  color: #acabab;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  margin-right: 1rem;
}

.product-size input[type="radio"] {
  display: none;
}

.product-size input[type="radio"]:checked + span {
  border: 1px solid black;
  color: black;
}

.product-quantity .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.product-quantity .slider:hover {
  opacity: 1;
}

.product-quantity .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.product-quantity .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50;
  cursor: pointer;
}

.product-quantity #rangeLabel {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

/*FAQ
*/

.q-faq .form-control{
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  caret-color: blue;
}

.a-faq .form-control{
  background: none;
  border: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  caret-color: blue;
}

 /*Carousel
*/
.carousel{
  font-family: 'Archivo', sans-serif;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .carousel, .carousel-inner > .carousel-item > img {
    height: 450px;
  }


/*Catalogo
  */

  .products-category-tab{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .products-category-tab .title{
    position: absolute;
    left: 20px;
    top: 0;
  }

  .imgEdit{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border-color: darkblue;
    border-width: 10px;
    padding: 2px;
  }

  .user-img{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin-left: 30px;
    border-radius: 50%;
    border-color: darkblue;
    border-width: 10px;
    padding: 2px;
  }

  @media (max-width:990px) {
    .imgEdit{
      width: 200px;
      height: 200px;
    }

    .user-img{
      width: 180px;
      height: 180px;
      margin-left: 0;
    }
    
  }
  @media (max-width:767px) {
    .imgEdit{
      width: 200px;
      height: 200px;
      margin-left: 8rem;
    }
    .user-img{
      width: 180px;
      height: 180px;
      margin-left: 7rem;
    }
    
  }
  @media (max-width:540px) {
    .imgEdit{
      width: 200px;
      height: 200px;
      margin-left: 25%;
    }
    .user-img{
      width: 180px;
      height: 180px;
      margin-left: 10%;
    }
    
  }

  .imgEdit img{
    margin-top: -30px;
    width: 100%;
    height: auto;
  }

  .user-img img{
    margin-top: -30px;
    width: 100%;
    height: auto;
  }

  .products-category-tab .title h2{
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
  }

  .products-category-tab .title h2 .dot{
    position: absolute;
    top: 3px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #222222;
  }

  .products-category-tab .title h2 .dot::before{
    position: absolute;
    top: 0;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    background: #222222;
    margin: 1px;
  }

  .products-category-tab .tabs {
    text-align: right;
    margin-bottom: 30px;
    padding-left: 0;
    list-style-type: none;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5px;
  }

  .products-category-tab .tabs li{
    display: inline-block;
    margin-right: 15px;
  }

  .products-category-tab .tabs li a{
    color: #858585;
    position: relative;
    font-weight: 400;
    font-size: 18px;
  }

  .products-category-tab .tabs li a::before{
    height: 3px;
    width: 0;
    background-color: #222222;
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .tab .tabs_item{
     
    display: none;

}

.single-product-item{
margin-bottom: 30px;
position: relative;
height: 549px;
}

.single-product-item .product_image{
overflow: hidden;
position: relative;
}

.single-product-item .product_image img{
-webkit-transition: 0.5s;
transition: 0.5s;
width: 100%;
height: 425px;
}

.single-product-item .product-content{
margin-top: 20px;
}

.single-product-item .product-content h3{
margin-bottom: 0;
font-weight: 600;
font-size: 18px;

}

.single-product-item .product-content h3 a{
color: #222222;
}

.single-product-item .product-content .product-price{
margin-top: 8px;
margin-bottom: 12px;
}

.single-product-item .product-content .product-price span{
font-size: 17px;
display: inline-block;
}

.single-product-item .product-content ul {
text-align: right;
padding-left: 0;
margin-bottom: 0;
list-style-type: none;
}

.single-product-item .product-content ul li {
display: inline-block;
margin-left: 5px;
}

.single-product-item .product-content ul li a {
width: 35px;
height: 35px;
line-height: 38px;
text-align: center;
background-color: #ffffff;
color: #222222;
border-radius: 50%;
-webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}

.single-product-item .product-content ul li a:hover {
color: white;
background-color: black;
}

.single-product-item .product-content ul li a:hover:focus{
color: white;
background-color: black;
}

.single-product-item .product-content .product-image img:hover{
transform: scale(1.1) rotate(3deg);
}

.single-product-item .product-content .product-image img:focus{
transform: scale(1.1) rotate(3deg);
}

.single-product-item .product-content .btn-light:focus{
background-color: black;
color: white;
}


.single-product-item .product-content .btn {
padding: 10px 20px;
}

.products-area {
  width: 100%;
  font-family: 'Archivo', sans-serif;
  }
  
  .gr{
    min-height: 300px;
  }
  
  .far{
    font-family: 'Font Awesome 5 Free';
  }
  
  .productQuickView{
    font-family: 'Archivo', sans-serif;
  }
  
  .productQuickView .modal-dialog {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .productQuickView .modal-content {
    border: none;
    padding: 40px;
    border-radius: 0;
  }
  
  .productQuickView .modal-content button.close {
    position: absolute;
    right: 0;
    top: 0;
    outline: 0;
    opacity: 1;
    color: #222222;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 35px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    width: 35px;
    text-shadow: unset;
    height: 35px;
    border: none;
  }
  
  .productQuickView .modal-content {
    border: none;
    padding: 40px;
    border-radius: 0;
  }
  
  .productQuickView .modal-content button.close {
    position: absolute;
    right: 0;
    top: 0;
    outline: 0;
    opacity: 1;
    color: #222222;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 35px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    width: 35px;
    text-shadow: unset;
    height: 35px;
    border: none;
  }

.productQuickView .modal-content .product-content .product-size-wrapper {
    margin-top: 8px;
    margin-bottom: 25px;
}

.productQuickView .modal-content .product-content .product-size-wrapper ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: -8px;
  margin-left: -8px;
  padding-left: 0;
}

.productQuickView .modal-content .product-content .product-size-wrapper ul li {
  display: inline-block;
  margin-left: 8px;
  margin-top: 8px;
}

.productQuickView .modal-content .product-content .product-size-wrapper ul li a {
  width: 40px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  border: 1px solid #acabab;
  color: #858585;
  text-align: center;
}

.productQuickView .modal-content .product-content .product-size-wrapper ul li a:focus {
  border-color: #222222;
  color: #222222;
}

  .productQuickView-image{
    width: 100%;
  }
  
  .productQuickView-image img{
    width: 100%;
    height: 400px;
  }
  
  .productQuickView .modal-dialog {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .productQuickView .modal-content .product-content h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .productQuickView .modal-content .product-content .price {
    margin-bottom: 5px;
  }
  
  .productQuickView .modal-content .product-content .price span{
    display: inline-block;
    font-size: 18px;
    color: #222222;
  }
  
  .productQuickView .modal-content .product-content .product-info {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .productQuickView .modal-content .product-content .descripcion {
    font-size: 18px;
    color: #222222;
    margin-bottom: 8px;
  }
  
  .productQuickView .modal-content .product-content .product-info li {
    font-size: 16px;
    color: #222222;
    margin-bottom: 8px;
    font-style: italic;
  }
  
  .productQuickView .modal-content .product-content .product-add-to-cart .btn {
    height: 45px;
    top: -2px;
    position: relative;
  }
  
  .productQuickView .modal-content .product-content .product-add-to-cart .btn i {
    margin-right: 2px;
  }
  
  .fa-cart-plus:before {
    content: "\f217";
  }

/*De aqui en adelante son estilos libres
*/

  .pb-60 {
    padding-bottom: 60px;
  }

  .pt-60 {
    padding-top: 60px;
  }

  *, ::after, ::before {
    box-sizing: border-box;
  }

  .tx-sz-5{
    font-size: 5px !important;
  }
  
  .tx-sz-9{
    font-size: 10px !important;
  }

  .tx-sz-10{
    font-size: 12px;
  }

  .tx-sz-20{
    font-size: 15px;
  }

  .tx-sz-25{
    font-size: 22px;
  }
  .tx-sz-30{
    font-size: 33px;
  }

  .fa-icons{
    font-family: 'Font Awesome 5 Free';
  }

  .pb-50{
    padding-bottom: 50px;
  }

  .an{
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
  }

.align-items-end {
  align-items: flex-end!important;
}

.btn-light {
  background-color: transparent!important;
  border-radius: 0%!important;
  border-color: #222222 !important;
}

.btn-light:hover{
  background-color: black!important;
  color: white!important;
  border-radius: 0%!important;
  transition: (100);
}

.faq-service .btn-primary{
  background-color: transparent!important;
  border-radius: 0%!important;
  border-color: blue !important;
  color: black;

}

.faq-service .btn-primary:hover{
  background-color: blue!important;
  color: white!important;
  border-radius: 0%!important;
  transition: (100);
}

.btn-warning {
  background-color: transparent!important;
  border-radius: 0%!important;
  border-color: yellow !important;
}

.btn-warning:hover{
  background-color: yellow!important;
  color: white!important;
  border-radius: 0%!important;
  transition: (100);
}



a{
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

.title-ours{
  font-size: 62.88px;
  font-weight: bold;
}

.navbar{
  color: var(--bs-body-color);
  background: var(--bs-body-color);
  font-family: 'Archivo', sans-serif;
}


.navbar-nav{
  font-size: 13px;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.fontc{
  font-family: 'Archivo', sans-serif !important;
}

.fontc>*{
  font-family: 'Archivo', sans-serif !important;
}

.footer-dark{
  background:var(--bs-body-color) !important;
}

.edit-form form .row{
  align-items: center !important;
  margin-left: 15%;
}

.edit-form form .row .form-control{
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  caret-color: blue;
}

.btn-danger{
  background-color: transparent!important;
  border-radius: 0%!important;
  border-color: red !important;
  color: black !important;
}

.btn-danger:hover{
  background-color: red!important;
  color: white!important;
  border-radius: 0%!important;
  transition: (100);
}

input{
  caret-color: blue;
}

input:invalid{
  border-bottom: 1px solid red;
  animation: shake 0.2s 2;
}

@keyframes shake {
  25%{
    translate: 6px 0;
  }
  50%{
    translate: -6px 0;
  }
  75%{
    translate:6px 0;
  }
  
}




