<!DOCTYPE html>
<html lang="en">
  <footer class="footer-dark h-75" th:fragment="footer">
    <div class="container fontc">
      <div class="row">
        <div
          class="col-sm-6 col-md-2 offset-md-0 item w-100"
          style="text-align: center"
        >
          <a
            th:href="@{/nosotros}"
            style="color: var(--bs-gray-100); text-decoration: none"
            data-bs-toggle="_blank"
            >Nosotros</a
          >
        </div>
        <div class="col-md-8 item text h-75">
          <h3>DRAXTER</h3>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus
            ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique
            lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
        </div>
        <div class="col-md-2 item social">
          <a data-bss-hover-animate="flash" href="#" style="margin-bottom: 7px"
            ><i
              class="icon ion-social-facebook"
              data-bss-hover-animate="flash"
            ></i></a
          ><a data-bss-hover-animate="flash" href="#" style="margin-bottom: 7px"
            ><i class="icon ion-social-twitter"></i></a
          ><a data-bss-hover-animate="flash" href="#" style="margin-bottom: 7px"
            ><i class="icon ion-social-whatsapp-outline"></i></a
          ><a data-bss-hover-animate="flash" href="#" style="margin-bottom: 7px"
            ><i class="icon ion-social-instagram"></i
          ></a>
        </div>
      </div>
      <p class="copyright">Draxter © 2022</p>
    </div>
  </footer>
</html>
