<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <title>Draxter</title>
    <link
      rel="stylesheet"
      href="assets/bootstrap/css/bootstrap.min.css"
      th:href="@{/assets/bootstrap/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome-all.min.css"
      th:href="@{/assets/fonts/fontawesome-all.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/font-awesome.min.css"
      th:href="@{/assets/fonts/font-awesome.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/ionicons.min.css"
      th:href="@{/assets/fonts/ionicons.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/simple-line-icons.min.css"
      th:href="@{/assets/fonts/simple-line-icons.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/fonts/fontawesome5-overrides.min.css"
      th:href="@{/assets/fonts/fontawesome5-overrides.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/animated-services.css"
      th:href="@{/assets/css/animated-services.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Contact-Form-Clean.css"
      th:href="@{/assets/css/Contact-Form-Clean.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css"
      th:href="@{/assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Edit-Form.css"
      th:href="@{/assets/css/Edit-Form.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/FAQ-Frequentlly-Asked-Questions-1.css"
      th:href="@{/assets/css/FAQ-Frequentlly-Asked-Questions-1.css}"
    />

    <link
      rel="stylesheet"
      href="assets/css/Footer-Dark.css"
      th:href="@{/assets/css/Footer-Dark.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/gift-product-long.css"
      th:href="@{/assets/css/gift-product-long.css}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/Login-Form-Dark.css"
      th:href="@{/assets/css/Login-Form-Dark.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Ludens-Users---3-Profile.css"
      th:href="@{/assets/css/Ludens-Users---3-Profile.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Navigation-Clean.css"
      th:href="@{/assets/css/Navigation-Clean.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Search-Input-Responsive-with-Icon.css"
      th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/styles.css"
      th:href="@{/assets/css/styles.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Table-With-Search-1.css"
      th:href="@{/assets/css/Table-With-Search-1.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/Table-With-Search.css"
      th:href="@{/assets/css/Table-With-Search.css}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css"
      th:href="@{/assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css}"
    />
    <link
      rel="stylesheet"
      href="assets/css/styles.css"
      th:href="@{/assets/css/styles.css}"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
</html>
