<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <div
    class="modal fade"
    id="termsAndConditions"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    th:fragment="termsAndConditions"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Terminos y condiciones
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br />
          <p>
            DRAXTER, da a disposición este sitio para dar un mejor servicio a
            sus clientes. Por favor lee las siguientes normas que gobiernan tu
            uso de---- draxter.com---, el cual aceptas al acceder a él. Si no
            estás de acuerdo, por favor no lo uses. Nos reservamos el derecho a
            actualizar o cambiar los Términos y Condiciones en cualquier momento
            sin previo aviso, es por esto que te recomendamos leer esta sección
            cada vez que le vayas a dar uso a este sitio a). Restricciones de
            uso Todo el contenido que ves y oyes en el sitio ----Draxter.com----
            incluyendo, las imágenes, diseño del sitio, ilustraciones, gráficos
            son propiedad intelectual y uso exclusivo de DRAXTER . • No copiar
            ni reproducir el contenido en ningún medio si no se etiqueta o en su
            defecto se encuentra presente la marca • No alterar o modificar en
            ninguna manera cualquier marca registrada. DRAXTER tiene completa
            propiedad intelectual de cualquier contenido que descargues,
            reproduzcas, imprimas, redistribuyas o guardes de este sitio.
            DRAXTER no concede ninguna licencia o autorización de uso de ninguna
            clase sobre sus derechos de propiedad intelectual e industrial o
            sobre cualquier otra propiedad o derecho relacionado con la página
            web, y los servicios y productos ofrecidos, REGLA HACE EXCEPCION SI
            SE MENCIONA A LA MARCA Y SE VISUALIZA LA MARCA a-1). Capacidad legal
            El usuario acepta ser capaz legalmente para utilizar este medio y
            contactar a DRAXTER para realizar la compra de los productos
            ofrecidos por la misma, adicional de realizar las transacciones para
            el pago y demás procesos correspondientes a la relación contractual.
            Caso tal que el usuario sea menor de edad, deberá manifestarlo a la
            empresa y por lo tanto debe contar con ell consentimiento de los
            padres o tutor legal, para continuar la transacción comercial, es
            importante recordar que el tutor o padres, son los responsables de
            los actos realizados por los menores de edad a través de este medio
            b). Política de precios En DRAXTER , es nuestro compromiso ofrecer
            comodidad, servicio y disponibilidad de productos en línea a precios
            atractivos, con algunas ofertas de mercancías, de tiempo limitado y
            a precios promocionales. Puede variar el precio entre local y en el
            sitio web c). Colores DRAXTER genera en su mayor posibilidad que los
            colores sean lo mas claros, nítidos y reales, No obstante el color
            de las prendas que aparecen en pantalla puede estar sujeto a
            variaciones dependiendo de la calidad del monitor de tu computador.
            En este sentido DRAXTER no puede garantizar que los colores que
            aparezcan en tu monitor se ajusten fielmente a la realidad. d).
            Comunicación DRAXTER, genera información, por medio electrónico, via
            whatsapp, Instagram, Facebook, llamada, de caso tal no quererla,
            tiene el libre derecho aclarar a los comunicadores, que no se
            encuentra en disposición de obtener dicha informacion e). Aceptación
            de términos y condiciones Al acceder y utilizar el sitio web ------
            draxter.com, aceptas que estas sujeto a los Términos y Condiciones,
            y todas las leyes aplicables regirán y se interpretarán de
            conformidad con las leyes Colombianas. f). Uso del sitio El acoso de
            cualquier manera o forma del sitio, incluso a través de correo
            electrónico y chat o por lenguaje obsceno o abusivo está
            estrictamente prohibido. La suplantación de identidad está
            prohibida, inclusive para los directivos o empleados con licencia,
            el anfitrión, o representante de DRAXTER , así como para otros
            miembros o visitantes. El contenido comercial para solicitar a otros
            a unirse o ser miembros de cualquier otro servicio comercial en
            línea u organización está prohibido. g). Responsabilidad Este sitio,
            los materiales y productos expuestos en él son mostrados de forma
            real y sin garantías de ningún tipo, ya sea explicita o
            implícitamente. DRAXTER no hace ninguna garantía o representación
            sobre el uso de los materiales en este sitio en cuanto a su
            exactitud, adecuación, utilidad, puntualidad, confiabilidad o de
            otra manera. Estas limitaciones pueden no ser aplicables al usuario.
            el servidor esté libre de virus o de otros componentes peligrosos.
            h.) Políticas de envío En DRAXTER, nuestro compromiso es cumplir con
            los tiempos de entrega, por lo tanto si el día que llegue tu pedido
            no estás presente para recibirlo, la transportadora estará
            autorizada para dejarlo en la portería de la dirección indicada.
            Sabemos lo importante que es para ti y que no te gustaría esperar
            hasta una próxima oportunidad para recibirlo. En DRAXTER queremos
            garantizar que tu pedido sea entregado en el tiempo acordado. Si
            necesitamos comunicarnos contigo para notificarte alguna novedad del
            pedido y en el transcurso de un mes no logramos encontrarte,
            procederemos con la devolución del dinero. Si el pago fue a través
            de tarjeta de crédito se solicita a Payu reversión del pago, si fue
            con tarjeta débito enviaremos a tu correo personal un vale por el
            valor de tu compra.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</html>
