<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="container">
      <div class="mt-4 mb-4 p-4 card align-items-center d-flex">
        <div class="row mb-2">
          <h3>Agregar usuario</h3>
        </div>
        <form
          th:action="@{/servicios/agregarProducto}"
          th:object="${producto}"
          method="post"
          enctype="multipart/form-data"
          class="w-50 add-user"
        >
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Nombre del producto</p>
            <input
              field="*{nombre}"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre del Producto"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Género:</p>
            <select field="*{genero}" name="genero" id="genero" required>
              <option value="" disabled>Seleccione el genero</option>
              <option
                th:each="genero :${listadoGenero}"
                th:value="${genero}"
                th:text="${genero}"
              ></option>
            </select>
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Descripción:</p>
            <textarea
              field="*{descripcion}"
              name="descripcion"
              id="descripcion"
              class="form-control-description"
              placeholder="Descripcion del producto"
            ></textarea>
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Precio:</p>
            <input
              field="*{precio}"
              type="number"
              name="precio"
              id="precio"
              placeholder="Ingrese el Precio"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Imagen:</p>
            <input type="file" name="file" class="file" id="file" />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Caracteristicas:</p>
            <textarea
              field="*{caracteristicas}"
              name="caracteristicas"
              placeholder="Separelas por comas sin espacios"
            ></textarea>
          </div>
          <div class="row mb-2">
            <label>
              Tallas:
              <input
                type="checkbox"
                name="tallaje"
                th:each="talla : ${tallas}"
                th:text="${talla}"
                th:value="${talla}"
                field="*{tallaje}"
                class="m-2"
              />
            </label>
          </div>
          <div class="row mb-2 mt-4 justify-content-center">
            <button type="submit" name="guardar" class="btn btn-warning w-50">
              Guardar producto
            </button>
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
  </body>
</html>
