<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div class="container">
      <div class="mt-4 mb-4 p-4 card align-items-center d-flex">
        <div class="row mb-2">
          <h3>Agregar usuario</h3>
        </div>
        <form
          th:action="@{/servicios/agregarUsuario}"
          th:object="${usuario}"
          autocomplete="off"
          method="POST"
          class="w-50 add-user"
        >
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Nombre de usuario</p>
            <input
              type="text"
              name="usuario"
              placeholder="Nombre de Usuario"
              class="form-control"
              th:field="*{usuario}"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Rol:</p>
            <select th:field="*{bck}" name="rol" id="rol" required>
              <option value="" disabled>Seleccione el Rol</option>
              <option
                th:each="rol :${listadoRol}"
                th:value="${rol}"
                th:text="${rol}"
              ></option>
            </select>
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Nombres</p>
            <input
              th:field="*{nombres}"
              type="text"
              name="nombres"
              placeholder="Nombres"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Apellidos</p>
            <input
              th:field="*{apellidos}"
              type="text"
              name="apellidos"
              placeholder="apellidos"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Email:</p>
            <input
              th:field="*{email}"
              type="email"
              name="email"
              placeholder="Email"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Número de celular:</p>
            <input
              th:field="*{celular}"
              type="text"
              name="celular"
              placeholder="Numero de telefono"
              class="form-control"
            />
          </div>
          <div class="row mb-2">
            <p class="tx-sz-10 text-muted mb-2">Contraseña:</p>
            <input
              th:field="*{contraseña}"
              type="password"
              name="contraseña"
              placeholder="Contraseña"
              class="form-control"
            />
          </div>
          <div class="row mb-2 mt-4">
            <div class="col-6">
              <button
                type="submit"
                name="Guardar"
                value="Crear"
                class="btn btn-warning w-75"
              >
                Añadir usuario
              </button>
            </div>
            <div class="col-6">
              <a
                th:href="@{/servicios/monitorearUsuarios}"
                class="btn btn-light w-75"
                >Monitorear usuarios</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
  </body>
</html>
