<div class="row align-items-center modal-body">
  <div class="container">
    <div>
      <div class="edit-form">
        <form
          th:action="@{/servicios/editarUsuario/{id} (id=${usuario.usuario})}"
          th:object="${usuario}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="row">
            <input
              th:field="*{usuario}"
              class="form-control w-75 mb-3 mt-2"
              type="text"
              placeholder="Usuario"
              disabled
            />
          </div>
          <div class="row">
            <input
              th:field="*{nombres}"
              class="form-control w-75 mb-3"
              type="text"
              placeholder="Nombre/s"
              aria-label="default input example"
            />
          </div>
          <div class="row">
            <input
              th:field="*{apellidos}"
              class="form-control w-75 mb-3"
              type="text"
              placeholder="Apellidos"
              aria-label="default input example"
            />
          </div>
          <div class="row">
            <input
              th:field="*{pais}"
              class="form-control w-75 mb-3"
              type="text"
              placeholder="Pais de Origen"
              aria-label="default input example"
            />
          </div>
          <div class="row">
            <input
              th:field="*{celular}"
              class="form-control w-75 mb-3"
              type="number"
              placeholder="Numero Telefonico"
              aria-label="default input example"
            />
          </div>
          <div class="row">
            <input
              th:field="*{direccion}"
              class="form-control w-75 mb-3"
              type="text"
              placeholder="Dirección"
              aria-label="default input example"
            />
          </div>
          <div class="row">
            <input
              th:field="*{email}"
              class="form-control w-75 mb-3"
              type="email"
              placeholder="Correo electronico"
              aria-label="default input example"
              disabled
            />
          </div>

          <div class="row">
            <input
              class="form-control w-75 mb-3"
              id="file"
              name="file"
              type="file"
              placeholder="Ingrese foto de perfil"
              data-title="Ingrese foto de perfil"
            />
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" name="guardar" class="ml-1 btn btn-light">
                Guardar
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                name="close"
                class="ml-0 btn btn-danger"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </form>
        <div class="row">
          <p class="tx-sz-10 text-muted mb-0 mt-3">
            *Datos como la dirección, el país y el número celular se usara para
            poder hacer el envio de los productos comprados o de algún servicio
            pedido.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
