<div class="modal-header">
  <h5 class="modal-title">Edición de PQRs</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-items-center modal-body">
  <div class="container fontc">
    <div class="edit-pqr">
      <form
        th:action="@{/servicios/monitorearProductos/editar/{id} (id=${producto.id})}"
        th:object="${producto}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="row m-2">
          <p class="tx-sz-10 text-muted mb-2">Nombre del producto</p>
          <input
            th:field="*{nombre}"
            class="form-control"
            type="text"
            placeholder="Nombre del prodcto"
            aria-label="default input example"
          />
        </div>
        <div class="row m-2">
          <p class="tx-sz-10 text-muted mb-2">Género:</p>
          <select field="*{genero}" name="genero" id="genero" required>
            <option value="" disabled>Seleccione el genero</option>
            <option
              th:each="genero :${listadoGenero}"
              th:value="${genero}"
              th:text="${genero}"
            ></option>
          </select>
        </div>
        <div class="row m-2">
          <p class="tx-sz-10 text-muted mb-2">Descripción:</p>
          <textarea
            th:field="*{descripcion}"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="descripcion del producto"
          ></textarea>
        </div>
        <div class="row m-2">
          <p class="tx-sz-10 text-muted mb-2">Precio:</p>
          <input
            th:field="*{precio}"
            class="form-control"
            type="number"
            placeholder="Ingrese el Precio"
            aria-label="default input example"
          />
        </div>
        <div class="row m-2">
          <div>
            <p class="tx-sz-10 text-muted mb-2">Imagen:</p>
            <input
              id="file"
              name="file"
              type="file"
              placeholder="ingrese imagen"
            />
          </div>
        </div>

        <div class="row m-2">
          <p class="tx-sz-10 text-muted mb-2">Caracteristicas:</p>
          <textarea
            th:field="*{caracteristicas}"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Caracteristicas del Producto"
          ></textarea>
        </div>

        <div class="row m-2">
          <label>
            Tallas
            <input
              class="m-2"
              type="checkbox"
              name="tallaje"
              th:each="talla : ${tallas}"
              th:text="${talla}"
              th:value="${talla}"
              field="*{tallaje}"
            />
          </label>
        </div>

        <div class="row justify-content-center pro-service">
          <a class="btn btn-primary w-50" type="submit"
            ><i class="fas fa-pencil-alt"></i> &nbsp;Editar</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
