<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div
      class="d-block container border-secondary border shadow-lg mt-4 mb-4 min-vh-100"
    >
      <div class="d-flex justify-content-end">
        <div class="row d-flex">
          <div
            class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 justify-content-center faq-service"
          >
            <a
              class="btn btn-primary m-3 btn-new"
              method="get"
              type="submit"
              th:href="@{/servicios/FAQ/nuevoFAQ}"
              ><i class="fas fa-solid fa-plus"></i>
              &nbsp; Nuevo FAQ
            </a>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="m-3 w-100">
              <form
                th:action="@{/servicios/FAQ}"
                class="d-flex align-items-center formSearch mr-4"
              >
                <input
                  id="id"
                  class="form-control"
                  type="text"
                  placeholder="Eliminar"
                  name="id"
                  th:value="${id}"
                /><button class="btn btn-light" type="submit" id="btn-validar">
                  Eliminar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container fontc mt-2">
        <div class="tabla" sec:authorize="!hasRole('USER')">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="col-lg-1">Código FAQ</th>
                <th class="col-lg-2">Pregunta</th>
                <th class="col-lg-2">Respuesta</th>
                <th class="col-lg-1">Cambios</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="faq: ${faqs}">
                <td th:text="${faq.id_faq}"></td>
                <td th:text="${faq.pregunta}"></td>
                <td th:text="${faq.respuesta}"></td>
                <td>
                  <div style="display: flex">
                    <a
                      th:href="@{/editarFAQ/{id} (id=${faq.id_faq})}"
                      class="btn btn-warning btn-edit"
                      >Editar</a
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="faq-edit">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="faq-new">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div class="CkEXb-DANGER alerta" th:if="${FAQSuccessEliminated != null}">
      <div class="a0A37 hAkP2">
        <p class="mb-0" th:text="${FAQSuccessEliminated}"></p>
      </div>
    </div>
    <div class="CkEXb-DANGER alerta" th:if="${errorInfo != null}">
      <div class="a0A37 hAkP2">
        <p class="mb-0" th:text="${errorInfo}"></p>
      </div>
    </div>
    <div class="CkEXb-SUCCESS alerta" th:if="${FAQSuccessMsg != null}">
      <div class="a0A37 hAkP2">
        <p class="mb-0" th:text="${FAQSuccessMsg}"></p>
      </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script>
      $(document).ready(function () {
        $(".btn-edit").on("click", function (e) {
          e.preventDefault();
          $("#faq-edit")
            .modal("show")
            .find(".modal-content")
            .load($(this).attr("href"));
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".btn-new").on("click", function (e) {
          e.preventDefault();
          $("#faq-new")
            .modal("show")
            .find(".modal-content")
            .load($(this).attr("href"));
        });
      });
    </script>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
    <script th:replace=" /fragments/alerta :: alerta"></script>
  </body>
</html>
