<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div style="height: auto">
      <section class="login-dark" style="height: 700px">
        <form method="post" th:action="@{/iniciarSesion}">
          <h2 class="visually-hidden">Login Form</h2>
          <div th:if="${param.error}">
            <div class="alert alert-danger">Usuario o contraseña invalidos</div>
          </div>
          <div
            class="alert alert-success"
            role="alert"
            th:if="${resetPasswordMsg != null}"
          >
            <p style="color: aliceblue" th:text="${resetPasswordMsg}"></p>
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            th:if="${tokenError != null}"
          >
            <p style="color: aliceblue" th:text="${tokenError}"></p>
          </div>

          <div th:if="${param.logout}">
            <div class="alert alert-danger">Ha cerrado sesion exitosamente</div>
          </div>
          <div class="illustration">
            <i class="icon ion-ios-locked-outline"></i>
          </div>
          <div class="mb-3">
            <input
              id="username"
              class="form-control"
              type="text"
              name="username"
              placeholder="Email"
              required
              autofocus="autofocus"
            />
          </div>
          <div class="mb-3">
            <input
              id="password"
              class="form-control"
              type="password"
              name="password"
              placeholder="Contraseña"
              required
              autofocus="autofocus"
            />
          </div>
          <div class="mb-3">
            <input
              class="btn btn-primary d-block w-100"
              type="submit"
              id="iniciar-submit"
              value="Iniciar sesión"
            />
          </div>
          <a
            href="#"
            data-toggle="modal"
            class="forgot"
            data-target="#forgotPasswordModel"
            >¿Olvidaste tu contraseña?</a
          ><a class="forgot" th:href="@{/registrarse}"
            >¿No tienes cuenta? Regístrate aquí</a
          >
        </form>
      </section>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <div th:replace="/emails/forgotPassword :: forgotPasswordModel"></div>
    <script
      src="assets/bootstrap/js/bootstrap.min.js"
      th:src="@{/assets/bootstrap/js/bootstrap.min.js}"
    ></script>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>
    <script></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="assets/js/featured-products-slider.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
  </body>
</html>
