<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Draxter</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"
    th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css"
    th:href="@{/assets/fonts/fontawesome-all.min.css}" />
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" th:href="@{/assets/fonts/font-awesome.min.css}" />
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css" th:href="@{/assets/fonts/ionicons.min.css}" />
  <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css"
    th:href="@{/assets/fonts/simple-line-icons.min.css}" />
  <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css"
    th:href="@{/assets/fonts/fontawesome5-overrides.min.css}" />
  <link rel="stylesheet" href="assets/css/animated-services.css" th:href="@{/assets/css/animated-services.css}" />
  <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css" th:href="@{/assets/css/Contact-Form-Clean.css}" />
  <link rel="stylesheet" href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css"
    th:href="@{/assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css}" />
  <link rel="stylesheet" href="assets/css/Edit-Form.css" th:href="@{/assets/css/Edit-Form.css}" />
  <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions-1.css"
    th:href="@{/assets/css/FAQ-Frequentlly-Asked-Questions-1.css}" />
  <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions.css"
    th:href="@{/assets/css/FAQ-Frequentlly-Asked-Questions.css}" />
  <link rel="stylesheet" href="assets/css/featured-products-slider-1.css"
    th:href="@{assets/css/featured-products-slider-1.css}" />
  <link rel="stylesheet" href="assets/css/featured-products-slider.css"
    th:href="@{assets/css/featured-products-slider.css}" />
  <link rel="stylesheet" href="assets/css/Footer-Dark.css" th:href="@{assets/css/Footer-Dark.css}" />
  <link rel="stylesheet" href="assets/css/gift-product-long.css" th:href="@{assets/css/gift-product-long.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="assets/css/Login-Form-Dark.css" th:href="@{/assets/css/Login-Form-Dark.css}" />
  <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css"
    th:href="@{/assets/css/Ludens-Users---3-Profile.css}" />
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css" th:href="@{/assets/css/Navigation-Clean.css}" />
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css"
    th:href="@{/assets/css/Registration-Form-with-Photo.css}" />
  <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css"
    th:href="@{/assets/css/Search-Input-Responsive-with-Icon.css}" />
  <link rel="stylesheet" href="assets/css/styles.css" th:href="@{/assets/css/styles.css}" />
  <link rel="stylesheet" href="assets/css/Table-With-Search-1.css" th:href="@{/assets/css/Table-With-Search-1.css}" />
  <link rel="stylesheet" href="assets/css/Table-With-Search.css" th:href="@{/assets/css/Table-With-Search.css}" />
  <link rel="stylesheet" href="assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css"
    th:href="@{/assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css}" />
</head>

<body>
  <div sec:authorize="hasRole('USER')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" th:href="@{/}"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/catalogo}">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/servicios}">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-block" style="height: 100vh; background: var(--bs-body-color)">
      <div class="d-flex" style="width: 100%; height: 100px">
        <div style="width: 50%; height: 100%"></div>
        <div style="height: 100%; width: 50%">
          <div class="row" style="width: 100%">
            <div class="col-md-10 offset-md-1" style="width: 90%">
              <div class="card m-auto" style="max-width: 850px; background: var(--bs-gray-900)">
                <div class="card-body">
                  <form th:action="@{/servicios/monitorearPQR}" class="d-flex align-items-center">
                    <input id="id" class="form-control form-control-lg flex-shrink-1 form-control-borderless"
                      type="text" placeholder="Buscar por Código..." name="id" th:value="${id}" /><input
                      class="btn btn-success btn-lg" type="submit">
                    Buscar
                    </input>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 search-table-col" style="margin-top: 0">
        <div class="table-responsive table table-hover table-bordered results">
          <table class="table table-hover table-bordered">
            <thead class="bill-header cs">
              <tr>
                <th id="trs-hd-1" class="col-lg-2">Código PQR</th>
                <th id="trs-hd-2" class="col-lg-3">Pregunta</th>
                <th id="trs-hd-3" class="col-lg-2">Estado</th>
                <th id="trs-hd-4" class="col-lg-2">Respuesta</th>
              </tr>
            </thead>
            <tbody>
              <tr th:unless="${param.exito}" th:each="pqr: ${pqrs}" style="color: white">
                <td th:text="${pqr.id_pqr}" style="border-color: white"></td>
                <td th:text="${pqr.descripcion}" style="border-color: white"></td>
                <td th:text="${pqr.estado}" style="border-color: white"></td>
                <td th:text="${pqr.respuesta}" style="border-color: white"></td>
              </tr>
              <tr th:if="${param.exito}" th:each="pqri: ${pqrsi}" style="color: white">
                <td th:text="${pqri.id_pqr}" style="border-color: white"></td>
                <td th:text="${pqri.descripcion}" style="border-color: white"></td>
                <td th:text="${pqri.estado}" style="border-color: white"></td>
                <td th:text="${pqri.respuesta}" style="border-color: white"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div sec:authorize="hasRole('ADMIN')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" th:href="@{/}"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/servicios/monitorearPQR}">MonitorearPQR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="height: auto; min-height:100vh; background: var(--bs-body-color)">
      <div class="col-md-12 search-table-col" style="margin-top: 0">
        <div class="form-group pull-right col-lg-4">
          <div class="col-md-10 offset-md-1" style="width: 90%">
            <div class="card m-auto" style="
                  max-width: 850px;
                  background: var(--bs-gray-900);
                  width: 100%;
                ">
              <div class="card-body">
                <form th:action="@{/servicios/monitorearPQR}" class="d-flex align-items-center">
                  <input id="id" class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="text"
                    placeholder="Buscar por Código..." name="id" th:value="${id}" /><input
                    class="btn btn-success btn-lg" type="submit">
                  Buscar
                  </input>
                </form>
              </div>
            </div>
          </div>
        </div>
        <span class="counter pull-right"></span>

        <div class="table-responsive table table-hover table-bordered results">
          <table class="table table-hover table-bordered">
            <thead class="bill-header cs">
              <tr>
                <th id="trs-hd-1" class="col-lg-2">Código PQR</th>
                <th id="trs-hd-2" class="col-lg-2">Pregunta</th>
                <th id="trs-hd-3" class="col-lg-2">Respondido Por</th>
                <th id="trs-hd-4" class="col-lg-2">Estado</th>
                <th id="trs-hd-5" class="col-lg-2">Respuesta</th>
                <th id="trs-hd-6" class="col-lg-2">Cambios</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="pqr : ${pqrsAdmin}" style="color: white">
                <td th:text="${pqr.id_pqr}" style="border-color: white"></td>
                <td th:text="${pqr.descripcion}" style="border-color: white"></td>
                <td th:text="${pqr.respondidoPor}" style="border-color: white"></td>
                <td th:text="${pqr.estado}" style="border-color: white"></td>
                <td th:text="${pqr.respuesta}" style="border-color: white"></td>
                <td>
                  <div style="display: flex">
                    <a th:href="@{/editarPQR/{id}(id=${pqr.id_pqr})}" class="btn btn-primary">Editar</a>
                    <a th:href="@{/borrarPQR/{id}(id=${pqr.id_pqr})}" class="btn btn-danger">Borrar</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div sec:authorize="hasRole('ASESOR')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" href="mostrarAsesor.html"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="mostrarAsesor.html">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="FAQ.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/servicios/monitorearPQR}">MonitorearPQR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="height: 100vh; background: var(--bs-body-color)">
      <div class="col-md-12 search-table-col" style="margin-top: 0">
        <div class="form-group pull-right col-lg-4">
          <div class="col-md-10 offset-md-1" style="width: 90%">
            <div class="card m-auto" style="
                  max-width: 850px;
                  background: var(--bs-gray-900);
                  width: 100%;
                ">
              <div class="card-body">
                <form th:action="@{/servicios/monitorearPQR}" class="d-flex align-items-center">
                  <input id="id" class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="text"
                    placeholder="Buscar por Código..." name="id" th:value="${id}" /><input
                    class="btn btn-success btn-lg" type="submit">
                  Buscar
                  </input>
                </form>
              </div>
            </div>
          </div>
        </div>
        <span class="counter pull-right"></span>
        <div class="table-responsive table table-hover table-bordered results">
          <table class="table table-hover table-bordered">
            <thead class="bill-header cs">
              <tr>
                <th id="trs-hd-1" class="col-lg-2">Código PQR</th>
                <th id="trs-hd-2" class="col-lg-2">Pregunta</th>
                <th id="trs-hd-3" class="col-lg-2">Respondido Por</th>
                <th id="trs-hd-4" class="col-lg-2">Estado</th>
                <th id="trs-hd-5" class="col-lg-2">Respuesta</th>
                <th id="trs-hd-6" class="col-lg-2">Cambios</th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div style="display: flex">
                  <a th:href="@{/editarPQR/{id}(id=${pqr.id_pqr})}" class="btn btn-primary">Editar</a>
                  <a th:href="@{/borrarPQR/{id}(id=${pqr.id_pqr}) }" class="btn btn-danger">Borrar</a>
                </div>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/bs-init.js"></script>
  <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
  <script src="assets/js/featured-products-slider.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/Table-With-Search.js"></script>
</body>

</html>