<div class="modal-header">
  <h5 class="modal-title">Monitoreo de PQRs</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-items-center modal-body">
  <div class="container fontc">
    <div class="service-full-view">
      <ul>
        <li>
          <a
            th:href="@{/servicios/monitorearPQR/vistaCompleta}"
            title="Vista completa"
            class="all-pqr"
          >
            <i class="far fa-eye"> </i
          ></a>
        </li>
        <label class="pb-2">Vista completa</label>
      </ul>
    </div>
    <div class="tabla mt-2" sec:authorize="hasRole('USER')">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="col-lg-1">Código PQR</th>
            <th class="col-lg-4">Pregunta</th>
            <th class="col-lg-3">Estado</th>
            <th class="col-lg-5">Respuesta</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pqr: ${pqrs}">
            <th scope="row" th:text="${pqr.id_pqr}"></th>
            <td th:text="${pqr.descripcion}"></td>
            <td th:text="${pqr.estado}"></td>
            <td th:text="${pqr.respuesta}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tabla" sec:authorize="!hasRole('USER')">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="col-lg-2">Código PQR</th>
            <th class="col-lg-2">Pregunta</th>
            <th class="col-lg-2">Respondido Por</th>
            <th class="col-lg-2">Estado</th>
            <th class="col-lg-2">Respuesta</th>
            <th class="col-lg-2">Cambios</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pqr : ${pqrsAdmin}">
            <td th:text="${pqr.id_pqr}"></td>
            <td th:text="${pqr.descripcion}"></td>
            <td th:text="${pqr.respondidoPor}"></td>
            <td th:text="${pqr.estado}"></td>
            <td th:text="${pqr.respuesta}"></td>
            <td>
              <div class="d-flex">
                <a
                  th:href="@{/editarPQR/{id}(id=${pqr.id_pqr})}"
                  class="btn btn-light"
                  >Editar</a
                >
                <a
                  th:href="@{/borrarPQR/{id}(id=${pqr.id_pqr})}"
                  class="btn btn-danger"
                  >Borrar</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
