<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>

    <div class="container fontc">
      <a
        class="btn btn-danger ml-3 mt-4 mb-4"
        type="button"
        th:href="@{/servicios/agregarUsuario}"
      >
        &larr; Atrás
      </a>
      <h1 class="text-center">Usuarios actuales</h1>
      <div
        class="mt-5 mb-5 ml-3 mr-3 p-3 row border border-secondary shadow-lg"
        th:each="usuario: ${usuarios}"
      >
        <div class="row">
          <div class="col-md-4">
            <div class="user-img">
              <img
                th:src="@{'/assets/img/' + ${usuario.imagen}}"
                th:alt="${usuario.imagen}"
                class="mb-3"
              />
            </div>
            <div class="mb-3">
              <a
                class="btn btn-danger d-block mt-2 btn-edit"
                type="button"
                th:href="@{/servicios/borrarUsuarios/{id}(id=${usuario.usuario})}"
              >
                <i class="fas fa-trash"></i>
                &nbsp; Eliminar
              </a>
              <div sec:authorize="!hasRole('ADMIN')"></div>
            </div>
          </div>
          <div class="col-md-8 mt-5 pl-5">
            <div class="row">
              <p class="tx-sz-30" th:text="*{usuario.nombres}">
                Nombre del Usuario
              </p>
              <p class="tx-sz-30" th:text="*{usuario.apellidos}">
                Apellidos del usuario/p>
              </p>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="row tx-sz-15">
                  <p class="mb-0 tx-sz-10">Usuario</p>
                  <p class="text-muted" th:text="*{usuario.usuario}">Usuario</p>
                </div>
                <div class="row">
                  <p class="mb-0 tx-sz-10">Correo electrónico</p>
                  <p
                    class="tx-sz-15 text-muted"
                    sec:authorization="name"
                    th:text="*{usuario.email}"
                  >
                    Tu correo electrónico
                  </p>
                </div>
              </div>
              <div class="col-4 pl-5">
                <div class="row">
                  <p class="mb-0 tx-sz-10">No° Celular</p>
                  <p class="tx-sz-15 text-muted" th:text="*{celular}">
                    Tu télefono
                  </p>
                </div>
                <div class="row">
                  <p class="mb-0 tx-sz-10">País de residencia</p>
                  <p class="tx-sz-15 text-muted" th:text="*{pais}">Tu país</p>
                </div>
                <div class="row">
                  <p class="mb-0 tx-sz-10">Dirección de residencia</p>
                  <p class="tx-sz-15 text-muted" th:text="*{usuario.direccion}">
                    Tu dirección
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
  </body>
</html>
