<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Draxter</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
  <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
  <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
  <link rel="stylesheet" href="assets/css/animated-services.css" />
  <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css" />
  <link rel="stylesheet" href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css" />
  <link rel="stylesheet" href="assets/css/Edit-Form.css" />
  <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions-1.css" />
  <link rel="stylesheet" href="assets/css/FAQ-Frequentlly-Asked-Questions.css" />
  <link rel="stylesheet" href="assets/css/featured-products-slider-1.css" />
  <link rel="stylesheet" href="assets/css/featured-products-slider.css" />
  <link rel="stylesheet" href="assets/css/Footer-Dark.css" />
  <link rel="stylesheet" href="assets/css/gift-product-long.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
  <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css" />
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css" />
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
  <link rel="stylesheet" href="assets/css/Search-Input-Responsive-with-Icon.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="assets/css/Table-With-Search-1.css" />
  <link rel="stylesheet" href="assets/css/Table-With-Search.css" />
  <link rel="stylesheet" href="assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css" />
</head>

<body>
  <div sec:authorize="hasRole('ADMIN')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" th:href="@{/}"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/servicios/monitorearPQR}">Monitorear PQR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex" style="height: 100vh; background: var(--bs-body-color)">


      <div class="d-inline media" style="width: 40%; padding-top: 20%; height: 100%">
        <div style="height: 200px; width: 100%; text-align: center">
          <img class="rounded-circle me-3" style="height: 200px; width: 200px" src="assets/img/user-photo2.jpg" />
        </div>
        <div class="media-body" style="
              height: 200px;
              width: 100%;
              text-align: left;
              padding-left: 70px;
            ">
          <ul class="list-unstyled fa-ul">
            <li style="color: var(--bs-white)">
              <i class="fa fa-user fa-li"></i><a th:text="*{nombre}" style="color: var(--bs-white)">James Doe</a>
            </li>
            <li style="color: var(--bs-white)">
              <i class="fa fa-envelope fa-li"></i><a sec:authentication="name" href="#" style="color: var(--bs-white)">
              </a>
            </li>
            <li th:text="*{usuario}" style="color: var(--bs-white)">Usuario</li>
          </ul>
        </div>
      </div>

      <div style="width: 60%; height: 100%; text-align: center">
        <h1 style="text-align: center; color: var(--bs-white); padding-top: 45%">
          Bienvenido de nuevo
        </h1>
      </div>
    </div>
    <footer style="
          height: 10vh;
          background: var(--bs-body-color);
          text-align: center;
        ">
      <p class="copyright" style="color: var(--bs-secondary); padding-top: 10px">
        Draxter © 2022
      </p>
    </footer>
  </div>

  <div sec:authorize="hasRole('ASESOR')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" th:href="@{/}"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/servicios/FAQ}">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/servicios/monitorearPQR}">MonitorearPQR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="page" style="min-height: 100%; background: var(--bs-gray-900)">
      <section class="clean-block about-us" style="height: 520px">
        <div class="row" style="margin-right: 0px; margin-left: 0px">
          <div class="col text-center">
            <h2 th:text="*{nombre}" class="text-info" style="color: var(--bs-red)">Nombre</h2>
          </div>
        </div>
        <div class="row justify-content-center" style="margin-right: 0px; margin-left: 0px">
          <div class="col-sm-6 col-lg-4" style="
                padding-right: 0px;
                padding-left: 0px;
                background: var(--bs-gray-900);
              ">
            <div class="card clean-card text-center">
              <img class="card-img-top w-100 d-block" src="assets/img/logoComedor/avatar1.jpg" />
              <div class="card-body info" style="background: var(--bs-gray-900); color: var(--bs-white)">
                <div class="row" style="margin-top: -24px">
                  <div class="col-md-12" style="margin-top: 22px">
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>Usuario</strong></p>
                      </div>
                      <div class="col">
                        <p th:text="*{usuario}" class="labels">usuarioPrueba</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>Correo</strong></p>
                      </div>
                      <div class="col">
                        <p sec:authentication="name" class="labels"></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a class="btn btn-success" role="button" href="editProfile.html"><i
                            class="fas fa-pencil-alt"></i>Editar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer style="
          height: 10vh;
          background: var(--bs-body-color);
          text-align: center;
        ">
      <p class="copyright" style="color: var(--bs-secondary); padding-top: 10px">
        Draxter © 2022
      </p>
    </footer>
  </div>

  <div sec:authorize="hasRole('USER')">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)">
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i><a class="navbar-brand" th:href="@{/}"
          style="color: var(--bs-body-bg)">Draxter</a><button data-bs-toggle="collapse" class="navbar-toggler"
          data-bs-target="#navcol-1">
          <span class="visually-hidden">Opciones</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/catalogo}">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/servicios}">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="page" style="min-height: 100%; background: var(--bs-gray-900)">
      <section class="clean-block about-us">
        <div class="row" style="margin-right: 0px; margin-left: 0px">
          <div class="col text-center">
            <h2 th:text="*{nombre}" class="text-info" style="color: whitesmoke !important">Nombre</h2>
          </div>
        </div>
        <div class="row justify-content-center" style="margin-right: 0px; margin-left: 0px">
          <div class="col-sm-6 col-lg-4" style="
                padding-right: 0px;
                padding-left: 0px;
                background: var(--bs-gray-900);
              ">
            <div class="card clean-card text-center">
              <img class="card-img-top w-100 d-block" src="assets/img/logoComedor/avatar1.jpg" />
              <div class="card-body info" style="background: var(--bs-gray-900); color: var(--bs-white)">
                <div class="row" style="margin-top: -24px">
                  <div class="col-md-12" style="margin-top: 22px">
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>Usuario</strong></p>
                      </div>
                      <div class="col">
                        <p th:text="*{usuario}" class="labels">usuarioPrueba</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>Correo</strong></p>
                      </div>
                      <div class="col">
                        <p sec:authorization="name" th:text="*{correo}" class="labels">example@gmail.com</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>País</strong></p>
                      </div>
                      <div class="col">
                        <p th:text="*{pais}" class="labels">México</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>No° celular</strong></p>
                      </div>
                      <div class="col">
                        <p th:text="*{celular}" class="labels">1112223344</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="labels"><strong>Dirección</strong></p>
                      </div>
                      <div class="col">
                        <p th:text="*{direccion}" class="labels">calle 1 #3-4</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a class="btn btn-success" role="button" href="editProfile.html"><i
                            class="fas fa-pencil-alt"></i>&nbsp;Editar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer style="
          height: 10vh;
          background: var(--bs-body-color);
          text-align: center;
        ">
      <p class="copyright" style="color: var(--bs-secondary); padding-top: 10px">
        Draxter © 2022
      </p>
    </footer>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/bs-init.js"></script>
  <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
  <script src="assets/js/featured-products-slider.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/Table-With-Search.js"></script>
</body>

</html>