<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    
    <title>Draxter</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="assets/css/animated-services.css" />
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css" />
    <link
      rel="stylesheet"
      href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css"
    />
    <link rel="stylesheet" href="assets/css/Edit-Form.css" />
    <link
      rel="stylesheet"
      href="assets/css/FAQ-Frequentlly-Asked-Questions-1.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/FAQ-Frequentlly-Asked-Questions.css"
    />
    <link rel="stylesheet" href="assets/css/featured-products-slider-1.css" />
    <link rel="stylesheet" href="assets/css/featured-products-slider.css" />
    <link rel="stylesheet" href="assets/css/Footer-Dark.css" />
    <link rel="stylesheet" href="assets/css/gift-product-long.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css" />
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css" />
    <link
      rel="stylesheet"
      href="assets/css/Search-Input-Responsive-with-Icon.css"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css" />
    <link rel="stylesheet" href="assets/css/Table-With-Search.css" />
    <link
      rel="stylesheet"
      href="assets/css/User-Information-Panel---Lite--Secondary-User-Panel-Footer.css"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg navigation-clean"
      style="color: var(--bs-body-color); background: var(--bs-body-color)"
    >
      <div class="container">
        <i class="fa fa-star" style="width: 50px; height: 50px"></i
        ><a class="navbar-brand" th:href="@{/}" style="color: var(--bs-body-bg)"
          >Draxter</a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Opciones</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/catalogo}">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/servicios}">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/pedidos}">Pedidos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      style="
        height: auto;
        background: var(--bs-body-color);
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 8%;
        padding-left: 8%;
      "
    >
      <section style="color: var(--bs-dark)">
        <div
          id="w_shop_105"
          class="carousel slide w_shop_105_indicators w_shop_105_control_button thumb_scroll_x swipe_x ps_easeOutInCubic"
          data-duration="2000"
          data-bs-ride="carousel"
          data-bs-pause="hover"
          data-bs-interval="8000"
          style="background: var(--bs-gray-900); color: var(--bs-dark)"
        >
          <div class="w_shop_105_main_header">
            <h1>
              <span style="color: var(--bs-blue)"
                ><strong th:text="*{nombre}">Nombre Producto</strong></span
              >
            </h1>
          </div>
          <ol class="carousel-indicators">
            <li
              class="active"
              style="filter: blur(0px); background: var(--bs-blue)"
              data-bs-target="#w_shop_105"
              data-bs-slide-to="0"
            ></li>
            <li data-bs-target="#w_shop_105" data-bs-slide-to="1"></li>
            <li data-bs-target="#w_shop_105" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img src="assets/img/w_shop_105_01.png" alt="w_shop_105_01" />
              <div class="w_shop_105_left_box">
                <span
                th:text="*{precio}"
                  data-animation="animated fadeInLeft"
                  style="font-family: roboto; color: var(--bs-yellow)"
                  >Precio</span
                >
                <p
                th:text="*{descripcion}"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white)"
                >
                  Descripción
                </p>
                <a
                  href="pagarPedido.html"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white); background: var(--bs-blue)"
                  >Comprar</a
                >
              </div>
              <div
                class="w_shop_105_right_box"
                data-animation="animated fadeInRight"
              >
                <ul th:each="caracteristica: ${caracteristicas}">
                  <li
                  th:text="*{caracteristica}"
                    data-animation="animated fadeInRight"
                    style="color: var(--bs-white)"
                  >
                    Carac 1
                  </li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/img/w_shop_105_01.png" alt="w_shop_105_01" />
              <div class="w_shop_105_left_box">
                <span
                th:text="*{precio}"
                  data-animation="animated fadeInLeft"
                  style="font-family: roboto; color: var(--bs-yellow)"
                  >Precio</span
                >
                <p
                th:text="*{descripcion}"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white)"
                >
                  Descripción
                </p>
                <a
                  href="pagarPedido.html"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white); background: var(--bs-blue)"
                  >Comprar</a
                >
              </div>
              <div
                class="w_shop_105_right_box"
                data-animation="animated fadeInRight"
              >
              <ul th:each="caracteristica: ${caracteristicas}">
                <li
                th:text="*{caracteristica}"
                  data-animation="animated fadeInRight"
                  style="color: var(--bs-white)"
                >
                  Carac 1
                </li>
              </ul>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/img/w_shop_105_01.png" alt="w_shop_105_01" />
              <div class="w_shop_105_left_box">
                <span
                th:text="*{precio}"
                  data-animation="animated fadeInLeft"
                  style="font-family: roboto; color: var(--bs-yellow)"
                  >Precio</span
                >
                <p
                th:text="*{descripcion}"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white)"
                >
                  Descripción
                </p>
                <a
                  href="pagarPedido.html"
                  data-animation="animated fadeInLeft"
                  style="color: var(--bs-white); background: var(--bs-blue)"
                  >Comprar</a
                >
              </div>
              <div
                class="w_shop_105_right_box"
                data-animation="animated fadeInRight"
              >
              <ul th:each="caracteristica: ${caracteristicas}">
                <li
                th:text="*{caracteristica}"
                  data-animation="animated fadeInRight"
                  style="color: var(--bs-white)"
                >
                  Carac 1
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="assets/js/featured-products-slider.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
  </body>
</html>
