<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <section id="services" class="services">
      <div class="container-md section-title">
        <div class="text-center pt-1"></div>
        <div class="row g-0 mt-4">
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="far fa-user mb-3"></i>
                <h4 class="title">
                  <a
                    th:href="@{/servicios/radicarPQR}"
                    style="text-decoration: none"
                    >Radicar PQR</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="fa fa-search mb-3"></i>
                <h4 class="title">
                  <a
                    th:href="@{/servicios/monitorearPQR}"
                    style="text-decoration: none"
                    >Monitorear PQR</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="fa fa-cut mb-3"></i>
                <h4 class="title">
                  <a
                    th:href="@{/servicios/pedirCorte}"
                    style="text-decoration: none"
                    >Pedir Corte</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="far fa-question-circle mb-3"></i>
                <h4 class="title">
                  <a
                    th:href="@{/servicios/mostrarFAQ}"
                    style="text-decoration: none"
                    >FAQ</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="assets/js/featured-products-slider.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
  </body>
</html>
