<div class="modal-header">
  <h5 class="modal-title">FAQ</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-items-center modal-body">
  <div class="container fontc">
    <div class="accordion w-100" id="basicAccordion">
      <div class="accordion-item" th:each="faq: ${faqs}">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            data-toggle="collapse"
            th:attr="data-target='#collapse_'+${faq.id_faq}"
            aria-expanded="false"
            aria-controls="collapseOne"
            th:text="${faq.pregunta}"
          >
            Question
          </button>
        </h2>
        <div
          th:id="'collapse_'+${faq.id_faq}"
          class="collapse"
          data-parent="#accordion"
        >
          <div class="accordion-body">
            <p th:text="${faq.respuesta}">Answer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
