<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:replace="/fragments/head :: head"></head>
  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <section id="services" class="services">
      <div class="container-md section-title">
        <div class="text-center pt-1"></div>
        <div class="row g-0 mt-4">
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 p-2"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="far fa-user mb-3"></i>
                <h4 class="title">
                  <a
                    class="btn-action-md"
                    th:href="@{/servicios/radicarPQR}"
                    style="text-decoration: none"
                    >Radicar PQR</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 p-2"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="fa fa-search mb-3"></i>
                <h4 class="title">
                  <a
                    class="btn-action-lg"
                    th:href="@{/servicios/monitorearPQR}"
                    style="text-decoration: none"
                    >Monitorear PQR</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 p-2"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="fa fa-cut mb-3"></i>
                <h4 class="title">
                  <a
                    class="btn-action-md"
                    th:href="@{/servicios/pedirCorte}"
                    style="text-decoration: none"
                    >Pedir Corte</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />&nbsp; &nbsp; &nbsp;&nbsp;
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 p-2"
          >
            <div class="text-center icon-box">
              <div class="icon">
                <i class="far fa-question-circle mb-3"></i>
                <h4 class="title">
                  <a
                    class="btn-action-lg"
                    th:href="@{/servicios/mostrarFAQ}"
                    style="text-decoration: none"
                    >FAQ</a
                  >
                </h4>
                <p class="description">
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="servi d-flex">
        <div
          class="alert alert-success alerta"
          role="alert"
          th:if="${pqrSuccessMsg != null}"
        >
          <p th:text="${pqrSuccessMsg}"></p>
        </div>
        <div
          class="alert alert-success alerta"
          role="alert"
          th:if="${corteSuccessMsg != null}"
        >
          <p th:text="${corteSuccessMsg}"></p>
        </div>
      </div>
    </section>

    <div class="modal userServices" tabindex="-1" id="userServices-md">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div class="modal userServices" tabindex="-1" id="userServices-lg">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <footer th:replace="/fragments/footer :: footer"></footer>

    <script>
      $(document).ready(function () {
        $(".btn-action-md").on("click", function (e) {
          e.preventDefault();
          $("#userServices-md")
            .modal("show")
            .find(".modal-content")
            .load($(this).attr("href"));
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".btn-action-lg").on("click", function (e) {
          e.preventDefault();
          $("#userServices-lg")
            .modal("show")
            .find(".modal-content")
            .load($(this).attr("href"));
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          $(".alert").fadeOut(1500);
        }, 3000);
      });
    </script>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
  </body>
</html>
