<!DOCTYPE html>
<html lang="en">
  <head th:replace="/fragments/head :: head"></head>

  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="w-100 h-100 fontc">
      <div class="row w-100">
        <div class="col-6">
          <h1 class="w-50 mb-0 pt-5 ml-5 text-left title-ours">Misión</h1>
          <p class="text-left w-100 ml-5 mb-0" style="font-size: 20px">
            <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially
            unchanged.<br /><br />
          </p>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="w-100"></div>
      <div class="row w-100">
        <div class="col-6"></div>
        <div class="col-6">
          <h1 class="w-50 text-right title-ours">Visión</h1>
          <p class="text-right w-100" style="font-size: 20px">
            <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially
            unchanged.<br /><br />
          </p>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="row w-100">
        <div class="col-6">
          <h1 class="w-50 mb-0 pt-5 ml-5 text-left title-ours">Póliticas</h1>
          <p class="text-left w-100 ml-5 mb-0" style="font-size: 20px">
            <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially
            unchanged.<br /><br />
          </p>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="w-100"></div>
      <div class="row w-100">
        <div class="col-6"></div>
        <div class="col-6">
          <h1 class="w-50 text-right title-ours">Trayectoria</h1>
          <p class="text-right w-100" style="font-size: 20px">
            <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially
            unchanged.<br /><br />
          </p>
        </div>
      </div>

      <footer th:replace="/fragments/footer :: footer"></footer>
    </div>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js}"
    ></script>

    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
  </body>
</html>
