<!DOCTYPE html>
<html lang="en">
  <head th:replace="/fragments/head :: head"></head>

  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div style="width: 100%; height: 100%; background: var(--bs-dark)">
      <h1
        style="
          color: var(--bs-gray-200);
          width: 20%;
          margin-bottom: 0px;
          margin-left: 8%;
          text-align: left;
          padding-top: 3rem;
          font-size: 62.88px;
        "
      >
        Misión
      </h1>
      <p
        style="
          text-align: left;
          color: var(--bs-gray-200);
          width: 39%;
          margin-left: 8%;
          margin-bottom: 0px;
          font-size: 20px;
        "
      >
        <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.<br /><br />
      </p>
      <h1
        style="
          color: var(--bs-gray-200);
          margin-left: 72%;
          width: 20%;
          text-align: right;
          font-size: 62.88px;
        "
      >
        Visión
      </h1>
      <p
        style="
          color: var(--bs-gray-200);
          text-align: right;
          width: 39%;
          margin-left: 53%;
          font-size: 20px;
        "
      >
        <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.<br /><br />
      </p>
      <h1
        style="
          color: var(--bs-gray-200);
          width: 20%;
          margin-bottom: 0px;
          margin-left: 8%;
          text-align: left;
          padding-top: 3rem;
          font-size: 62.88px;
        "
      >
        Póliticas
      </h1>
      <p
        style="
          text-align: left;
          color: var(--bs-gray-200);
          width: 39%;
          margin-left: 8%;
          margin-bottom: 0px;
          font-size: 20px;
        "
      >
        <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.<br /><br />
      </p>
      <h1
        style="
          color: var(--bs-gray-200);
          margin-left: 52%;
          width: 40%;
          text-align: right;
          font-size: 62.88px;
        "
      >
        Trayectoria
      </h1>
      <p
        style="
          color: var(--bs-gray-200);
          text-align: right;
          width: 39%;
          margin-left: 53%;
          font-size: 20px;
        "
      >
        <br /><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged.<br /><br />
      </p>
      <footer th:replace="/fragments/footer :: footer"></footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
    <script src="assets/js/featured-products-slider.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
  </body>
</html>
