<div class="modal-header">
  <h5 class="modal-title">Radicación de PQRs</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row align-items-center modal-body">
  <div class="container">
    <div class="d-flex h-100 w-75">
      <div class="h-100 w-100" th:if="${param.exito}">
        <!--Hay que hacerle cambios a esto-->
        <p
          style="
            height: 100%;
            width: 100%;
            color: var(--bs-white);
            text-align: right;
            padding-top: 9%;
            margin-bottom: 50px;
          "
        >
          <a
            th:href="@{/servicios/monitorearPQR}"
            style="text-decoration: none; color: var(--bs-white)"
            >Su PQR ha sido radicado, puede verlo presionando aquí.</a
          >
        </p>
      </div>
    </div>
    <div>
      <form
        class="fontc"
        th:action="@{/servicios/radicarPQR}"
        th:object="${pqr}"
        method="post"
      >
        <div
          class="row w-100 mt-3 mb-3 d-flex text-center align-items-center justify-content-center"
          style="height: 190px"
        >
          <textarea
            class="text-left w-75 h-100"
            size="40"
            id="descripcion"
            name="descripcion"
            type="textarea"
            placeholder="Escriba su PQR..."
            th:field="*{descripcion}"
            cols="30"
            rows="10"
          >
          </textarea>
        </div>
        <div
          class="row w-100 d-flex text-center align-items-center justify-content-center"
        >
          <button class="btn btn-light mt-1 w-50" type="submit">
            Radicar PQR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
