<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head"> </head>

  <body>
    <div th:replace="/fragments/navbar :: navbar"></div>
    <div class="register-image">
      <section class="register">
        <div class="form-container fontc">
          <form
            th:action="@{/registrarse}"
            th:object="${usuario}"
            method="post"
          >
            <h2 class="text-center" style="color: var(--bs-white)">
              <strong>Registrarse</strong>
            </h2>
            <div class="mb-3">
              <input
                id="nombres"
                class="form-control"
                type="text"
                name="nombres"
                placeholder="Nombres"
                th:field="*{nombres}"
                required
                autocomplete="off"
              />
            </div>
            <div class="mb-3">
              <input
                id="apellidos"
                class="form-control"
                type="text"
                name="apellidos"
                placeholder="Apellidos"
                th:field="*{apellidos}"
                required
                autocomplete="off"
              />
            </div>
            <div class="mb-3">
              <input
                id="usuario"
                class="form-control"
                type="text"
                name="usuario"
                placeholder="Usuario"
                th:field="*{usuario}"
                required
                autocomplete="off"
              />
            </div>
            <div class="mb-3">
              <input
                id="email"
                class="form-control"
                type="email"
                name="email"
                placeholder="Email"
                th:field="*{email}"
                required
                autocomplete="off"
              />
            </div>
            <div class="mb-3">
              <input
                id="password"
                class="form-control"
                type="password"
                name="password"
                placeholder="Contraseña"
                th:field="*{password}"
                required
                autocomplete="off"
                minlength="8"
              />
            </div>

            <div class="mb-3">
              <button
                class="btn btn-primary d-block w-100 guardar"
                type="submit"
                disabled="disabled"
              >
                Registrarse
              </button>
            </div>
            <p style="display: flex">
              <input type="checkbox" value="Leído" class="checkbox ml-4" />
              &nbsp;
              <a
                class="already mt-1"
                href="#"
                data-toggle="modal"
                data-target="#termsAndConditions"
                >*He leído los terminos y condiciones</a
              >
            </p>

            <a class="already" th:href="@{/iniciarSesion}"
              >¿Ya tienes una cuenta? Inicia sesión aquí</a
            >
          </form>
        </div>
        <div
          th:replace="/fragments/termsAndConditions :: termsAndConditions"
        ></div>
      </section>
    </div>
    <div class="CkEXb-DANGER alerta" th:if="${emailNotValid != null}">
      <div class="a0A37 hAkP2">
        <p th:text="${emailNotValid}"></p>
      </div>
    </div>
    <div class="CkEXb-DANGER alerta" th:if="${userNotValid != null}">
      <div class="a0A37 hAkP2">
        <p th:text="${userNotValid}"></p>
      </div>
    </div>
    <div class="CkEXb-SUCCESS alerta" th:if="${userSucessSignUp != null}">
      <div class="a0A37 hAkP2">
        <p th:text="${userSucessSignUp}"></p>
      </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script
      src="assets/bootstrap/js/bootstrap.min.js"
      th:src="@{/assets/bootstrap/js/bootstrap.min.js}"
    ></script>
    <script
      src="assets/JQuery/jquery.min.js"
      th:src="@{/assets/JQuery/jquery.min.js}"
    ></script>
    <script th:replace=" /fragments/alerta :: alerta"></script>
    <script th:replace=" /fragments/scriptActive :: scriptActive"></script>
    <script type="text/javascript">
      $(function () {
        $(".checkbox").click(function () {
          $(".guardar").prop(
            "disabled",
            $("input.checkbox:checked").length == 0
          );
        });
      });
    </script>
  </body>
</html>
